/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --sky-blue-crayola: hsl(188, 64%, 60%);
    --raisin-black_90: hsla(240, 8%, 12%, 0.9);
    --raisin-black-1: hsl(240, 8%, 17%);
    --raisin-black-2: hsl(240, 8%, 12%);
    --majorelle-blue: hsl(241, 77%, 63%);
    --blue-ryb_80: hsla(241, 88%, 60%, 0.8);
    --bittersweet: hsl(0, 100%, 69%);
    --eerie-black: hsl(0, 0%, 13%);
    --ghost-white: hsl(230, 60%, 98%);
    --light-gray: hsl(0, 0%, 80%);
    --slate-gray: hsl(225, 8%, 48%);
    --cool-gray: hsl(225, 11%, 59%);
    --gainsboro: hsl(217, 16%, 90%);
    --mustard: hsl(47, 100%, 69%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(240, 5%, 26%);
    --jet: hsl(0, 0%, 21%);
  
    /**
     * gradient
     */
  
    --gradient: radial-gradient(ellipse at center, hsla(0, 0%, 0%, 0.25), transparent 80%);
  
    /**
     * typography
     */
  
    --ff-dm-sans: 'DM Sans', sans-serif;
  
    --fs-1: 4rem;
    --fs-2: 3.5rem;
    --fs-3: 2.4rem;
    --fs-4: 2.2rem;
    --fs-5: 2rem;
    --fs-6: 1.8rem;
    --fs-7: 1.7rem;
    --fs-8: 1.5rem;
    --fs-9: 1.4rem;
  
    --fw-500: 500;
    --fw-700: 700;
  
    /**
     * spacing
     */
  
    --section-padding: 100px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0px 2px 50px hsla(223, 40%, 76%, 0.3);
    --shadow-2: 0px -2px 12px hsl(252, 29%, 93%);
    --shadow-3: 0px 4px 4px hsla(231, 20%, 49%, 0.06);
    --shadow-4: 0px 15px 30px hsla(210, 30%, 32%, 0.05);
    --shadow-5: 0px 15px hsla(241, 62%, 34%, 0.04);
  
    /**
     * radius
     */
  
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-20: 20px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }



  /*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: padding var(--transition-1);
  z-index: 4;
}

.header.active {
  background-color: var(--white);
  padding-block: 15px;
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--raisin-black-1);
  font-size: 3.6rem;
  font-weight: var(--fw-700);
}

.nav-open-btn {
  background-color: var(--white);
  color: var(--eerie-black);
  font-size: 35px;
  padding: 10px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-10);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--raisin-black-2);
  color: var(--white);
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(0);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 60px;
}

.navbar .logo { color: var(--white); }

.nav-close-btn {
  color: var(--white);
  font-size: 30px;
  transition: var(--transition-1);
}

.nav-close-btn:is(:hover, :focus) { color: var(--bittersweet); }

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--jet); }

.navbar-link {
  font-size: var(--fs-9);
  font-weight: var(--fw-700);
  padding-block: 15px;
  text-transform: uppercase;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--mustard); }

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--raisin-black_90);
  transition: var(--transition-2);
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}






body {
    background: #f3f7fc;
  }
  .c-50 {
    background-image: linear-gradient(-37deg, #a67f66 0%, #c49a7f 19%, #a2795e 40%, #a47c62 66%, #ebc5a4 100%);
    border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0px 0px;
  }
  .c-150 {
    background-image: linear-gradient(-50deg, #9fa6ac 0%, #868c94 40%, #c4cbd1 79%, #b3bbc0 100%);
    border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0px 0px;
  }
  .c-250 {
    background-image: linear-gradient(-25deg, #efda86 0%, #c69637 40%, #fef2ae 79%, #d3cc72 100%);
    border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0px 0px;
  }
  .c-500 {
    background-image: linear-gradient(-50deg, #70beff 0%, #6999da 40%, #bae2ff 79%, #d3e9f8 100%);
  }
  .c-50,
  .c-150,
  .c-250,
  .c-500 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calculate {
    margin: 100px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 20px;
  }
  .calculate-wrap {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calculate-amount {
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 26px;
  }
  .calculate-text {
    color: #fff;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 45px;
    margin: 0;
  }
  .calculate-input {
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 45px;
    max-width: 170px;
    outline: none;
    width: 154px;
    text-align: center;
  }
  .calculate-slider {
    padding: 0 60px;
  }
  .calculate-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
  }
  .calculate-block {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #a1afc3;
    text-align: center;
    line-height: 26px;
  }
  .calculate-block span {
    font-weight: 700;
    font-size: 25px;
    color: #1a273a;
  }
  .calculate-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    width: 324px;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
  }
  .calculate-btn-wrapper {
    margin: 20px 0;
  }
  .noUi-handle {
    background: #0085ff;
    box-shadow: 0 11px 19px 0 rgba(12,71,124,0.48);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .noUi-handle:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .noUi-handle:after {
    display: none;
  }
  .noUi-horizontal .noUi-handle {
    width: 52px;
    height: 52px;
    top: -21px;
  }
  .noUi-target {
    background: #a1afc3;
    border: none;
    box-shadow: none;
    outline: none;
  }
  .noUi-connects {
    border-radius: 10px;
  }
  .noUi-connect {
    background: #0085ff;
  }
  .noUi-horizontal .noUi-tooltip {
    font-weight: 700;
    font-size: 14px;
    color: #1a273a;
    line-height: 26px;
    text-align: center;
    background: #fff;
    box-shadow: 0 11px 28px 0 rgba(255,255,255,0.3);
    padding: 5px 11px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }
  .noUi-horizontal .noUi-tooltip:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: -5px;
    background: #fff;
  }


  @media (min-width: 992px) {

    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    .btn { height: 70px; }
  
    .grid-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * HEADER
     */
  
    .header { padding-block-start: 47px; }
  
    .nav-open-btn,
    .overlay,
    .navbar .wrapper { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbar-item:not(:last-child) { border: none; }
  
    .navbar-list {
      display: flex;
      gap: 30px;
    }
  
    .navbar-link {
      position: relative;
      color: var(--cool-gray);
      text-transform: capitalize;
      font-size: unset;
      font-weight: var(--fw-500);
    }
  
    .navbar-link:is(:hover, :focus) { color: var(--raisin-black-1); }
  
    .navbar-link::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 0;
      height: 4px;
      border-radius: 5px;
      background-color: var(--majorelle-blue);
      transition: var(--transition-1);
    }
  
    .navbar-link:is(:hover, :focus)::before { width: 100%; }
  
    .header .btn { display: inline-flex; }
  
    .header .btn::before,
    .header .btn::after { background-color: var(--raisin-black-1); }
  
    .header .btn:is(:hover, :focus) { color: var(--white); }
  
  }  